fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

langgraph

langchain-groq

chromadb

sentence-transformers

pandas

streamlit
streamlit-autorefresh

numpy

requests